# Database
POSTGRES_DB=mydb
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword

# Spring
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/mydb
SPRING_DATASOURCE_USERNAME=dbuser
SPRING_DATASOURCE_PASSWORD=dbpassword
SPRING_PROFILES_ACTIVE=dev
